.cabecalho{
    width: 25vw;
    padding-left: 10px;
}

.roboto-condensed-logo {
    font-family: "Roboto Condensed", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

.logo{
    font-size: 1.5em;
    color: green;
    text-shadow: 1px 1px 1px #151515;
}
